@font-face {
    font-family: backtonature;
    src: url(../../Delicious-Adventures.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../Roboto-Regular.ttf);
}

@font-face {
	font-family: soc-med-txt;
	src: url(../../Social-Media-Circled.otf);
}

/*default*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: roboto, sans-serif;
}

body {
	background-color: #d4d3d3;
}

h1, h2, h3, h4, h5, h6, .header > p > small {
	font-family: backtonature;
	color: white;
}

a {
	font-family: soc-med-txt;
	font-size: 2.5em;
	text-decoration: none;
	color: #d4d3d3;

}

/*classes*/
.clear:after { /*used to clear floats (don't forget to add this class name to the div we want with float)*/
 	content: "";
 	display: block;
 	clear: both;
}

.row:after {
	/*prevent container collapse*/
	content: "";
	display: block;
	clear: both;
}

.col {

}

.left {
	width: 50%;
	height: 350px;
	padding: 1.5px;
	float: left;
	/*background-color: #fff;*/
}

.right {
	width: 50%;
	height: 350px;
	padding: 1.5px;
	float: left;
	/*background-color: #fff;*/
}

.main > h2, .left > h2, .right > h2 {
	margin-top: 10px;
	padding: 3px 15px;
	color: ;
	background-color: #027010;
}

.container {

	max-width: 960px;
	margin: 0 auto;
}

.header {
	padding: 3px 15px;
	margin-bottom: 10px;
	font-size: 2.5em;
	text-align: center;
}

.header > h1 {
	margin-bottom: -25px;
}

.nav {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 10px;
	color: #fff;
	background-color: #8e8d8d;
}

.nav > a {
	font-family: roboto;
	font-size: 14px;
	padding: 5px 15px;
	background: #026820;
	border-radius: 5px; 
	text-decoration: none; 
}
.header, .footer {
	background-color: #027010;
}


.main {
	width: 100%;
	min-height: 700px;
}

.main-img {
	width: 100%;
	height: 500px;
	background: url(../images/pasta-main.jpg);
	background-size: cover;
}

.sec-img1 {
	width: 100%;
	height: 250px;
	background: url(../images/berry-cinamon-cheesecake-cups.jpg);
	background-repeat: no-repeat;
	padding: 5px, 10px;
}

.sec-img2 {
	width: 100%;
	height: 250px;
	background: url(../images/coffee.jpg);
	background-size: cover;
	padding: 5px, 10px;
}

.footer {
	padding: 10px;
}

.copyright > p {
	float: right;
	color: #d4d3d3;
}

/*media queries*/
/*desktop default*/
.col-lg-1 {
	width: 8.33%; /*100%/12*1*/
}

.col-lg-2 {
	width: 16.66%; /*100%/12 *2*/
}

.col-lg-3 {
	width: 25%; /*100%/12 *3*/
}

.col-lg-4 {
	width: 33.33%; /*100%/12 *4*/
}

.col-lg-5 {
	width: 41.66%; /*100%/12 *5*/
}

.col-lg-6 {
	width: 50%; /*100%/12 *6*/
}

.col-lg-7 {
	width: 58.33%; /*100%/12 *7*/
}

.col-lg-8 {
	width: 66.66%; /*100%/12 *8*/
}

.col-lg-9 {
	width: 75%; /*100%/12 *9*/
}

.col-lg-10 {
	width: 83.33%; /*100%/12 *10*/
}

.col-lg-11 {
	width: 91.66%; /*100%/12 *11*/
}

.col-lg-12 {
	width: 100%; /*100%/12 *12*/
}

/*table default*/
@media only screen and (max-width: 768px) {
	.col-md-1 {
	width: 8.33%; /*100%/12*1*/
	}

	.col-md-2 {
		width: 16.66%; /*100%/12 *2*/
	}

	.col-md-3 {
		width: 25%; /*100%/12 *3*/
	}

	.col-md-4 {
		width: 33.33%; /*100%/12 *4*/
	}

	.col-md-5 {
		width: 41.66%; /*100%/12 *5*/
	}

	.col-md-6 {
		width: 50%; /*100%/12 *6*/
	}

	.col-md-7 {
		width: 58.33%; /*100%/12 *7*/
	}

	.col-md-8 {
		width: 66.66%; /*100%/12 *8*/
	}

	.col-md-9 {
		width: 75%; /*100%/12 *9*/
	}

	.col-md-10 {
		width: 83.33%; /*100%/12 *10*/
	}

	.col-md-11 {
		width: 91.66%; /*100%/12 *11*/
	}

	.col-md-12 {
		width: 100%; /*100%/12 *12*/
	}
}


/*smartphone*/
@media only screen and (max-width: 450px) {
	.col-sm-1 {
		width: 8.33%; /*100%/12*1*/
	}

	.col-sm-2 {
		width: 16.66%; /*100%/12 *2*/
	}

	.col-sm-3 {
		width: 25%; /*100%/12 *3*/
	}

	.col-sm-4 {
		width: 33.33%; /*100%/12 *4*/
	}

	.col-sm-5 {
		width: 41.66%; /*100%/12 *5*/
	}

	.col-sm-6 {
		width: 50%; /*100%/12 *6*/
	}

	.col-sm-7 {
		width: 58.33%; /*100%/12 *7*/
	}

	.col-sm-8 {
		width: 66.66%; /*100%/12 *8*/
	}

	.col-sm-9 {
		width: 75%; /*100%/12 *9*/
	}

	.col-sm-10 {
		width: 83.33%; /*100%/12 *10*/
	}

	.col-sm-11 {
		width: 91.66%; /*100%/12 *11*/
	}

	.col-sm-12 {
		width: 100%; /*100%/12 *12*/
	}
}



